body {
  background-image: url(images/pattern.png);
}

.navbar {
  background-color: #ffffff;
  border: solid 1px #cccccc;
  padding-right: 15%;
  padding-left: 15%;
  min-height: 70px;
}

.navbar-light .navbar-brand {
  background-color: #4aaaa5;
  line-height: 60px;
  color: #ffffff;
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  color: #777777;
}

.body {
  background-color: #ffffff;
  border: solid 1px #dddddd;
  margin: 30px auto;
  padding: 25px;
  margin-bottom: 100px;
  color: #777777;
}

h2 {
  padding-bottom: 20px;
  color: #4aaaa5;
  font-family: "Georgia", Times, "Times New Roman", serif;
  border-bottom: 3px solid #cccccc;
  font-size: 24px;
  font-weight: bold;
}

.fixed-bottom {
  background-color: #666666af;
  color: #ffffff;
  border-top: 6px solid #4aaaa5;
  font-size: 10px;
  min-height: 30px;
}

.titles {
  background-color: #4aaaa5;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 30px;
  opacity: 0.9;
  width: 92%;
  padding: 5px;
}

.titles:hover {
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
}

#submit {
  background-color: #4aaaa5;
  color: #ffffff;
  width: 125px;
}
